{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static from staticfiles%}


<title>
  Payment
</title>
</br></br>
<body>

</br></br></br></br></br>
</br></br></br></br></br>

<nav class="navbar navbar-inverse navbar-fixed-top "  style="background-color:#660000">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="{% static "img/logo.png" %}" alt=" " class="img-circle" width="auth" height="150"/>
    </div>


    <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-7">
        <br> </br>
        <br> </br>
        <br> </br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">Go!</button>
          </span>
        </div>
      </div>

    </div><!--/.navbar-collapse -->
  </div>
</nav>




<div class="container">




  <table >

    <thead>
      <td><b>You have purchased</b></td>
    </thead>

    {%for a in list%}
    <tr>

      <td> {{a.name}} <td>
        <td> ₺ {{a.price}} <td>



          <tr>

            {%endfor%}

          </table>

          <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            <legend><h2>Payment</h2></legend>



            <div class="form-group">
              <label class="col-sm-3 control-label" for="expiry-month">Payment Type</label>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-xs-3">


                    <select class="form-control col-sm-2"  name="payment_type" id="payment_type" >
                      <option>-Select-</option>
                      <option value="01">Cash</option>
                      <option value="02">Credit Card</option>
                      <option value="03">Both</option>

                    </select>
                  </div>


                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" for="expiry-month">Please Select </label>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-xs-3">


                    <select class="form-control col-sm-2"  name="please_select" id="please_select" >
                      <option>-add new-</option>
                      <option value="01">New Address</option>
                      {%for a in adress_list%}
                      <option>{{a.user_adress}}</option>

                      {%endfor%}
                    </select>
                  </div>


                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="card-holder-name">Address</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"   name="Address" id="Address"  >
              </div>
            </div>






            <div class="form-group" >
              <label class="col-sm-3 control-label" for="cvv">Promotion Code</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Code" name="promotion_code" id="promotion_code" >
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-3 control-label" for="card-number">Add your comment:</label>

                <textarea cols="15" rows="3" class="form-control" placeholder="" name="comment" id="comment" >
                </textarea>
            
            </div>



            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">



              </div>
            </div>
            <button type="submit" button onclick="" class="btn btn-success">Approve Order</button>

          </form>





        </div>
      </body>
