{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static from staticfiles%}
<div class="row" style ='background-color: #660000;'>
<div class="container" style ='background-color: #660000;' >
    <h1 class="well">Customer Registration</h1>
	<div class="col-lg-12 well">
	<div class="row" >
				<form action="" method="POST" >
          {% csrf_token %}
          <div class="col-sm-12">
						<div class="row">


              <div class="col-sm-6 form-group">
                <label>User Name</label>
                <input type="text" placeholder="Enter User Name Here.." class="form-control"   name="username" id="username" />
              </div>

              <div class="col-sm-6 form-group">
                <label>Password</label>
                <input type="password" placeholder="Enter User Password Here.." class="form-control"   name="password" id="password" />
              </div>




              <div class="col-sm-6 form-group">

								<label>First Name</label>
								<input type="text" placeholder="Enter First Name Here.." class="form-control" name="firstname" id="firstname">
							</div>
							<div class="col-sm-6 form-group">
								<label>Last Name</label>
								<input type="text" placeholder="Enter Last Name Here.." class="form-control" id="lastname" name="lastname">
							</div>
						</div>
						<div class="form-group">
							<label>Address</label>
							<textarea placeholder="Enter Address Here.." rows="3" class="form-control" id="adress" name="adress"></textarea>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>City</label>
								<input type="text" placeholder="Enter City Name Here.." class="form-control"  name="city" id="city" />
							</div>
              <div class="row">
  							<div class="col-sm-4 form-group">
  								<label>Email</label>
  								<input type="text" placeholder="Enter Email Name Here.." class="form-control"  name="email" id="email" />
  							</div>
							<div class="col-sm-4 form-group">
								<label>State</label>
								<input type="text" placeholder="Enter State Name Here.." class="form-control"   name="state" id="state" />
							</div>


						</div>

					<div class="form-group">
						<label>Phone Number</label>
						<input type="text" placeholder="Enter Phone Number Here.." class="form-control" name="phone", id="phone"/>
					</div>


					<input type="submit"  class="btn btn-lg btn-success"></input>
          <a href="/" class="btn  btn-lg btn-primary">Go back</a>

					</div>
				</form>

				</div>
	</div>
	</div>
</div>
