{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static from staticfiles%}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Restaurants</title>

  

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>




<br /> <br /> <br /> <br /> <br /> <br /> <br />
<br />
<br />
  <nav class="navbar navbar-inverse navbar-fixed-top "  style="background-color:#660000">
   <div class="container-fluid">
    <div class="navbar-header">
     <img src="{% static "img/logo.png" %}" alt=" " class="img-circle" width="auth" height="150"/>
   </div>

    <div class="row">
     <div class="col-md-7"></div>
      <div class="col-md-7">
       <br> </br>
          <br> </br>
            <br> </br>
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search for...">
               <span class="input-group-btn">
                 <button class="btn btn-danger" type="button">Go!</button>
               </span>
             </div>
</div>
     <table>
     <div class="col-md-2">
       <div id="navbar"  class="navbar-collapse collapse">



          <form  class="navbar-form navbar-right" method="POST" action="">
            {% csrf_token %}
            {%if request.user.is_authenticated%}
            <div class="navbar-form navbar-right"/>


            <span class="label label-success">Logged as {{request.user}}</span>

            <div class="navbar-form navbar-right"/>


            <a href="/logout/" class="btn btn-danger">logout</a>
            {%elif not request.user.is_authendicated%}
            <div class="form-group">
              <input type="text" placeholder="Username" class="form-control" name="username" id="username">
            </div>

            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password" id="password" >
              </div>
            <div class="form-group">
            <Button  name="signinButton " class="btn btn-success" type="submit">Sign in</Button>
            <a href="/register/" class="btn btn-success">Register</a>

              </div>
          </form>
          {%endif%}
          </div>
        </div>
        </table>
        </div><!--/.navbar-collapse -->
     </div>
  </nav>


          <h2 class="sub-header">Results</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <!--
				<tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
            -->
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td><a href="">McDonald's</td>
				  <td><a href="">Çiğ Köfte</td>
				  <td><a href="">6 TL</td>

                </tr>
                <tr>
                  <td><a href="">Burger King</td>
				  <td><a href="">Çiğ Köfte</td>
				  <td><a href="">6 TL</td>

                </tr>
                <tr>
                  <td><a href="">KFC</td>
				  <td><a href="">Çiğ Köfte</td>
				  <td><a href="">5 TL</td>

                </tr>
                <tr>
                  <td><a href="">HACIOĞLU</td>
				  <td><a href="">Çiğ Köfte</td>
				  <td><a href="">5 TL</td>
                </tr>



              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
	<br /> <br /> <br />
		<br /> <br /> <br />
			<br /> <br /> <br />
			<br /> <br /> <br />
	<!--<a href="http://www.pageresource.com"> -->

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">References</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://s-media-cache-ak0.pinimg.com/236x/92/c4/b3/92c4b34e819092cd933a10e2e60fd52b.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;McDonald's</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">

              <img src="http://s3.postimg.org/jn68dlk0z/burger_king.jpg"width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">

              <h4>&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;Burger King</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://s1.postimg.org/ca2fbzxlb/kfc.png==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&nbsp;KFC</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://s1.postimg.org/eajs5cez3/hac_o_lu.jpg"width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>&nbsp;&ensp;&ensp;&ensp;HACIOĞLU</h4>
              <span class="text-muted"></span>
            </div>
          </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
